<div class="pane" *ngIf="event">

    <div class="row">
        <div class="col-md-6">
            <img [src]="event.pictureUrl" alt="Event image" class="rounded img-fluid">
        </div>
        <div class="col-md-6">
            <h2>{{ event.name }}</h2>
            <hr>
            <span>
                {{ event.startDate | date:'MMM' }}
            </span>
            <span class="float-right">
                <fa-icon [icon]="locationIcon" class="green-icon"></fa-icon>
                {{ event.location }}
            </span>
            <h3>
                {{ event.startDate | date:'d' }}
            </h3>
            <p class="text-justify mt-2">{{ event.description }}</p>
        </div>
    </div>

    <div class="pane mt-3">

        <div style="position: relative">
            <div>
                Organized by:
                <img src="{{ event.organizer.pictureUrl }}" width="45" height="45" alt="Profile picture"
                     class="rounded-circle m-3">
                {{ event.organizer.givenName }} {{ event.organizer.familyName }}
                <span class="ml-2 text-muted small">Created at: {{ event.createdAt | date:'medium' }}</span>

                <div class="float-right">
                    <span *ngIf="event.organizer.id === currentUser.id">
                        <a routerLink="edit">
                            <fa-icon [icon]="editIcon" class="green-icon"></fa-icon>
                        </a>
                        <fa-icon [icon]="deleteIcon" class="red-icon" (click)="onDelete()"></fa-icon>
                    </span>
                    <fa-icon [icon]="backIcon" class="blue-icon" (click)="navigateBack()"></fa-icon>
                </div>

            </div>

            <span>{{ event.startDate | date:'medium' }} - {{ event.endDate | date:'medium' }}</span>
            <button *ngIf="!joinedEvent()" class="btn btn-primary join-btn" (click)="onChangeParticipation()">
                <fa-icon [icon]="joinIcon"></fa-icon>
                I will be there
            </button>
            <button *ngIf="joinedEvent()" class="btn btn-danger join-btn" (click)="onChangeParticipation()">
                <fa-icon [icon]="leaveIcon"></fa-icon>
                I won't be there
            </button>
        </div>

        <hr>
        <div *ngIf="event.participants.length > 0">
            Participants:
            <span *ngFor="let participant of event.participants" class="participant">
                <img src="{{ participant.pictureUrl }}"
                     width="30" height="30" alt="Profile picture" class="rounded-circle ml-2" >
                {{ participant.givenName }} {{ participant.familyName }}
            </span>
        </div>
    </div>
</div>
