<div class="pane" *ngIf="event">
    <img [src]="event.pictureUrl" alt="Event image" class="img-fluid rounded">
    <span>
        {{ event.startDate | date:'MMM' }}
    </span>
    <span>
        {{ event.startDate | date:'d' }}
    </span>
    <h2>{{ event.name }}</h2>
    <div class="pane">
        <div>
            Organized by:
            <img src="{{ event.organizer.pictureUrl }}" width="45" height="45" alt="Profile picture"
                 class="rounded-circle m-3">
            {{ event.organizer.givenName }} {{ event.organizer.familyName }}
        </div>
        <span>{{ event.startDate | date:'medium' }} - {{ event.endDate | date:'medium' }}</span>
        <hr>Participants:
        <span *ngFor="let participant of event.participants">
            <img *ngFor="let participant of event.participants" src="{{ participant.pictureUrl }}"
                 width="30" height="30" alt="Profile picture" class="rounded-circle m-3" >
            {{ participant.givenName }} {{ participant.familyName }}
        </span>
        <p class="text-justify">{{ event.description }}</p>
    </div>
</div>
