.join-btn {
    position: absolute;
    bottom: -0.5rem;
    right: 0;
}

img {
    max-height: 20rem;
    width: auto;
}

p {
    white-space: pre-wrap;
}

.participant {
    display: inline-block;
}
