<h1 class="my-5 text-center display-3">Welcome to Mercury App!</h1>
<p class="text-justify">
    Mercuy is a social media app using Angular 6 and 4 + 1 microservices with multiple backend technologies,
    including my own Java microframework, Spring, NodeJS, GraphQL and Websockets.
    Please log in if you want to check out the website!
</p>
<h2>Alternatively, you can check out the repository for:</h2>
<ul>
    <li>The <a href="{{ links.Frontend }}">Angular frontend</a>, the one you are currently looking at. :-)</li>
    <li>The <a href="{{ links.FeedApi }}">backend</a> behind the social feed and users.
        It's NodeTS with GraphQL-Yoga framework.</li>
    <li>Or maybe you are interested in my homegrown Java framework?
        Then the <a href="{{ links.EventsApi }}">events API</a> is your place!</li>
    <li>Not a Java person? Then maybe you will find the
        <a href="{{ links.ChatApi }}">NodeTS/Socket.io server</a> behind the chat feature to your liking.</li>
    <li>Want to see an enterprise Java Spring app in action instead of all this?
        <a href="{{ links.NewsApi }}">Here</a> you go!</li>
</ul>
<h2>
    If it's not the Code you are interested in, feel free to check me out on
    <a href="{{ links.LinkedIn }}">LinkedIn</a> and <a href="{{ links.GitHub }}">Github</a>!
</h2>
