<div class="pane chat-window">
    <div class="chat-message" *ngFor="let msg of messages"
         [ngClass]="{'own-message': currentUser.googleId === msg.from}">
        <img src="{{ owner(msg).pictureUrl }}" width="30" height="30" alt="Profile picture" class="rounded-circle mr-2">
        <div class="chat-text d-inline-block">{{ msg.content }}</div>
        <div class="text-muted small">{{ msg.createdAt | amTimeAgo }}</div>
    </div>
</div>

<form #chatForm="ngForm" (ngSubmit)="onSendMessage()" class="pane chat-form">
    <div class="form-group">
        <input type="text" class="form-control" name="content" placeholder="Write your message here..."
               ngModel required minlength="1">
    </div>
</form>
