<div class="pane">
  <img src="{{ comment.user.pictureUrl }}" width="30" height="30" alt="Profile picture" class="rounded-circle">

  <span class="ml-1" *ngIf="!editing">
      {{ comment.user.givenName }} {{ comment.user.familyName }}: {{ comment.text }}
  </span>
    <form *ngIf="editing" #commentForm="ngForm" (ngSubmit)="onUpdateComment()" class="d-inline-block">
        <div class="form-group">
            <input type="text" class="form-control w-75 ml-3" name="text" required minlength="1" ngModel>
        </div>
    </form>

    <button type="button" class="btn btn-sm btn-outline-danger" (click)="onDeleteComment()">
        Delete
    </button>
    <button type="button" class="btn btn-sm btn-outline-info" (click)="onStartEditing()">
        Update
    </button>
  <div>
      <span class="text-muted">At: {{ comment.createdAt | date:'mediumTime' }}</span>
      <button class="btn btn-outline-success btn-sm my-3" type="button" (click)="onLike()" [disabled]="liked">
          Like
      </button>
      Likes: {{ comment.likes.length }}
      <button class="btn btn-outline-danger btn-sm my-3" type="button" (click)="onDislike()" [disabled]="!liked">
          Dislike
      </button>
  </div>
</div>
