<a class="btn btn-outline-success btn-lg mb-2" routerLink="new">Create New Event</a>
<div class="grid">
    <div *ngFor="let event of events" class="pane event" routerLink="{{ event.id }}">
        <h3>{{ event.name }}</h3>
        <div>From: {{ event.startDate | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm' }}</div>
        <div>To: {{ event.endDate | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm' }}</div>
        <div>
            <fa-icon [icon]="locationIcon" class="green-icon"></fa-icon>
            {{ event.location }}
        </div>
        <img *ngFor="let participant of event.participants" src="{{ participant.pictureUrl }}"
             width="30" height="30" alt="Profile picture" class="rounded-circle m-3" >
    </div>
</div>
