<a class="btn btn-outline-success btn-lg" routerLink="new">Create New Event</a>
<div class="grid">
    <div *ngFor="let event of events | async" class="pane event">
        <h3>{{ event.name }}</h3>
        <div>From: {{ event.startDate | date:'short' }}</div>
        <div>To: {{ event.endDate | date:'short' }}</div>
        <img *ngFor="let participant of event.participants" src="{{ participant.pictureUrl }}"
             width="30" height="30" alt="Profile picture" class="rounded-circle m-3" >
        <a routerLink="{{ event._id }}" class="btn btn-outline-info">Check it out</a>
    </div>
</div>
