<form *ngIf="eventForm" class="pane" [formGroup]="eventForm" (ngSubmit)="onSubmit()">

    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-outline-success btn-block" type="submit" [disabled]="!eventForm.valid">
                Save
            </button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-outline-danger btn-block" type="button" (click)="closeEditor()">
                Cancel
            </button>
        </div>
    </div>

    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" class="form-control" formControlName="name">
    </div>

    <div class="form-group">
        <label for="description">Name:</label>
        <textarea id="description" class="form-control" rows="6" formControlName="description"></textarea>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="start">Start date:</label>
                <input type="datetime-local" id="start" class="form-control" formControlName="startDate">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="end">End date:</label>
                <input type="datetime-local" id="end" class="form-control" formControlName="endDate">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="picture">Picture URL:</label>
        <input type="text" id="picture" class="form-control" formControlName="pictureUrl" #pictureUrl>
    </div>
    <img *ngIf="pictureUrl.value" [src]="pictureUrl.value" alt="Your image" class="img-fluid rounded">

</form>
