.controls {
    display: none;
}
.pane {
    border-radius: 1rem;
}
.pane:hover .controls {
    display: inline-block;
}

p {
    font-size: 1rem;
}
.prediction {
  animation: flashingBorder 1s infinite;
}

@keyframes flashingBorder {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 1px 1px 5px 3px #4CAF50;
  }
  100% {
    box-shadow: none;
  }
}

.new-comment {
    background: #fff;
    border-radius: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
