.controls {
    display: none;
}
.pane {
    border-radius: 1rem;
    margin-bottom: 0.7rem !important;
}
.pane:hover .controls {
    display: inline-block;
}

p {
    font-size: 1rem;
}
.prediction {
  animation: flashingBorder 1s infinite;
}

@keyframes flashingBorder {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 1px 1px 5px 3px #4CAF50;
  }
  100% {
    box-shadow: none;
  }
}

.new-comment {
    background: #fff;
    border-radius: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.zoom {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    height: auto;
    width: 80%;
    margin: 1rem 10% 0 10%;
    box-shadow: 1px 1px 10px 500px rgba(0, 0, 0, 0.8);
    animation: zoom-in 0.5s ease-out;
}
@keyframes zoom-in {
    0%{
        opacity: 0;
        transform: scale(0.5) translate3d(0,0,0);
        box-shadow: none;
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        opacity: 1;
        transform: scale(1) translate3d(0,0,0);
        box-shadow: 1px 1px 10px 500px rgba(0, 0, 0, 0.8);
    }
}
