<div *ngIf="user" class="pane" [ngClass]="{'prediction': post.id === ''}">

    <div *ngIf="!editing">
        <a routerLink="/profile/{{ post.user.id }}">
            <img src="{{ post.user.pictureUrl }}" width="30" height="30" alt="Profile picture" class="rounded-circle">
            <span class="ml-2 profile-link">{{ post.user.givenName }} {{ post.user.familyName }}</span>
        </a>
        <span class="text-muted"><span class="mx-2">·</span>{{ post.createdAt | amTimeAgo }}</span>

        <span *ngIf="post.user.id === user.id" class="controls">
            <fa-icon [icon]="editIcon" class="green-icon" (click)="onStartEditing()"></fa-icon>
            <fa-icon [icon]="deleteIcon" class="red-icon" (click)="onDelete()"></fa-icon>
        </span>

        <p class="text-justify my-3">{{ post.text }}</p>
        <img src="{{ post.pictureUrl }}" alt="{{ post.pictureUrl }}" class="img-fluid rounded"
             (click)="toggleImageView()" [ngClass]="{'zoom': zoomed}">
        <div class="my-2">
            <fa-icon [icon]="likeIcon" (click)="onLike()" class="green-icon" [ngClass]="{'disabled': liked}"></fa-icon>
            {{ post.likes.length }} {{ post.likes.length > 1 ? 'likes' : 'like' }}
            <fa-icon [icon]="dislikeIcon" (click)="onDislike()" class="red-icon" [ngClass]="{'disabled': !liked}"></fa-icon>
        </div>
    </div>

    <div *ngIf="editing">
        <form #postForm="ngForm" (ngSubmit)="onUpdate()">
            <div class="editor">
                <div class="form-group">
          <textarea name="post" id="post" rows="5" class="form-control"
                    required minlength="1" ngModel></textarea>
                </div>
                <div class="form-group">
                    <input type="text" id="picture" class="form-control" name="picture"
                           ngModel #pictureUrl>
                </div>
                <button class="btn btn-success btn-block mt-2" type="submit" [disabled]="!postForm.valid">Update</button>
            </div>
            <div class="preview">
                <img [src]="pictureUrl.value" class="rounded preview-image" alt="preview">
            </div>
        </form>
    </div>

    <div class="w-75 m-2 mt-3 p-1">
        <app-comment *ngFor="let comment of comments" [comment]="comment" [postId]="post.id"></app-comment>
    </div>

    <form #commentForm="ngForm" (ngSubmit)="onNewComment()">
        <img src="{{ user.pictureUrl }}" width="30" height="30" alt="Profile picture" class="rounded-circle ml-1 mb-2">
        <input type="text" name="comment" class="form-control w-75 d-inline-block px-3 ml-3 new-comment"
               required minlength="1" ngModel placeholder="Write a comment...">
    </form>

</div>
