<div *ngFor="let user of users" class="pane m-2 p-1">

    <span *ngIf="unreadMessages.get(user.googleId)">{{ unreadMessages.get(user.googleId) }} msg</span>

    <img src="{{ user.pictureUrl }}" width="30" height="30" alt="Profile picture" class="rounded-circle mr-2">
    <a routerLink="/chat/{{ user.id }}" routerLinkActive="active">
        {{ user.givenName }} {{ user.familyName }}
    </a>

    <span *ngIf="onlineUsers.has(user.googleId)" class="online-marker float-right mt-1 mr-3">ONLINE</span>

</div>
