<nav class="navbar navbar-light bg-light">
    <a href="#" class="navbar-brand" *ngIf="user">
        <img [src]="user.pictureUrl" width="30" height="30" alt="Profile picture" class="rounded-circle">
        {{ user.givenName }}
    </a>

    <ul *ngIf="isLoggedIn()" class="navbar-nav navbar-expand">
        <li class="nav-item mx-3">
            <a routerLink="/feed" class="nav-link" routerLinkActive="active">
                Feed
            </a>
        </li>
        <li class="nav-item mx-3">
            <a routerLink="/events" class="nav-link" routerLinkActive="active">
                Events
            </a>
        </li>
        <li class="nav-item mx-3">
            <a routerLink="/news" class="nav-link" routerLinkActive="active">
                News
            </a>
        </li>
    </ul>

    <a *ngIf="isLoggedIn()" class="btn btn-outline-danger" (click)="logout()">
        <fa-icon [icon]="logoutIcon"></fa-icon>
    </a>
    <a *ngIf="!isLoggedIn()" class="btn btn-outline-success" (click)="login()">
        <fa-icon [icon]="loginIcon"></fa-icon>
    </a>
</nav>
